
@model PagedList.IPagedList<Xekina.Data.Models.Request>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ProjectDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SubscriptionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ResourceGroupLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DateRequested)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().RequestedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubscriptionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceGroupLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRequested)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RequestID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RequestID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RequestID })
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
<br />
