@model Xekina.Web.Models.SubscriptionLink

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubscriptionLink</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubscriptionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubscriptionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Validated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Validated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
